<% if @resources.blank? %>
  <% params[:notice] = "No #{ ResourceName } created. Click on 'new #{ ResourceName }'" %>
<% end %>

<% if params[:notice] %>
<p id="notice"><%= params[:notice] %></p>
<% end %>

<h1>Listing <%= ResourceName.pluralize %></h1>

<table>
  <thead>
    <tr>
      <% Field.all.each do |field| %>
        <th><%= field.display_name %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <% Field.all.each do |field| %>
          <td><%= resource.send(field.name) %></td>
        <% end %>
        <td class = "no_border"><%= button_to 'Edit', edit_resource_path(resource), method: :get %></td>
        <td class = "no_border"><%= button_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to "Add new #{ ResourceName }", new_resource_path %>
<p><%= link_to 'Back to Admin', admin_path %>