<% if @resources.blank? %>
  <% params[:notice] = "No #{ ResourceName } created. Click on 'new #{ ResourceName }'" %>
<% end %>

<% if params[:notice] %>
<p id="notice"><%= params[:notice] %></p>
<% end %>

<div class="page-header">
  <h1>Listing <%= ResourceName.pluralize %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <% Field.all.each do |field| %>
        <th><%= field.display_name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <% Field.all.each do |field| %>
          <% value = resource.send(field.name) %>
          <td><%= value.present? ? value : '- NA -'%></td>
        <% end %>
        <td>
          <%= link_to 'Show', resource, :class => 'btn btn-mini' %>
          <%= link_to 'Edit', edit_resource_path(resource), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to "Add new #{ ResourceName }", new_resource_path, :class => 'btn btn-primary' %>
  <%= link_to 'Back to Admin', admin_path, :class => 'btn' %>
</div>