<div class="field_form">
  
  <%= fields_for "[field][]", form_for_single_field do |f| %>
    <div class="control-group">
      <%= f.label 'Field Name', :class => 'control-label' %>
      <div class="controls">
      	<%= f.text_field :name %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label 'Display Name', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :display_name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label 'Input Type', :class => 'control-label' %>
      <div class="controls">
        <%= f.select :input_type, InputTypeArray %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label 'Field Type', :class => 'control-label' %>
      <div class="controls">
        <%= f.select :field_type, FieldTypeArray %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label 'Default Value', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :default_value %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label 'Is the field Required?', :class => 'control-label' %>
      <div class="controls">
        <%= f.select :required, [['Yes', true], ['No', false]] %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label 'Should the field be unique?', :class => 'control-label' %>
      <div class="controls">
        <%= f.select :unique, [['Yes', true], ['No', false]] %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label 'Options', :class => 'control-label' %>
      <div class="controls">
        <div class="options_container">
        </div>
      </div>
    </div>
  <% end %>
  <%= button_to_function "remove", "$(this).closest('.field_form').remove()", class: "field_form_remove_button"%>
</div>