<% if @fields.blank? %>
  <% flash[:notice] = "No Field created. Click on 'add a field'" %>
<% else %>
  <div class="page-header">
    <h1>Listing <%= ResourceName %> Fields -</h1>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <% attributes = Field.column_names - ['id', 'created_at', 'updated_at'] %>
        <% attributes.each do |attr| %>
          <th><%= attr.humanize %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render partial: @fields, locals: { attributes: attributes } %>
    </tbody>
  </table>
<% end %>

<%= button_to "Add a field", new_field_path, :class => "btn btn-primary", method: :get%>
<%= link_to 'Back To Admin', admin_path, :class => "btn" %>